Package: ca.adambell.MessageBox
Name: Message Box
Version: 1.0-6
Description: Set your Facebook Chat Heads free!
Section: Tweaks
Depends: firmware (>= 6.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Adam Bell
dev: 
Homepage: http://www.adambell.ca/
Depiction: 
Maintainer: 
Icon: file:///Library/Application Support/MessageBox/Icon.png
